#daily-image {
    /*width: 100% !important;*/
    height: 80%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(100%);
    object-position: 100% 50%;
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-container {
    height: 85vh;
    width: 100%;
    position: relative;
    object-fit: contain;

    display: flex;
}

.daily-container .daily-content {
    background: rgba(0, 0, 0, .4);
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    height: 100%;


}

.daily-title{
    position: absolute;
    top: 50%; left: 80%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}



.daily-container .daily-content h1 {
    font-size: 4rem;
    color: #fff;
}

.daily-container p {
    font-size: 1.6rem;
    font-weight: 200;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .daily-content h1 {
        font-size: 3rem;
    }

    .daily-content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}