#life-image {
    top: 95px;
    height: 75%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(.9);
    object-position: 100% 50%;
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.life-container {
    height: 85vh;
    width: 100%;
    position: relative;
    object-fit: contain;
    transition: .3s;
    display: flex;
}

.life-container .life-content {
    background: rgba(0, 0, 0, .4);
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    height: 100%;

}

.life-title {
    position: absolute;
    top: 55%; left: 80%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    transition: .3s;
}

.life-container .life-content h2 {
    width: 300px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 3.3rem;
}

.life-container p {
    letter-spacing: 0.1px;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #fff;
}

.life-img {
    max-width: 450px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1230px) {
    .life-container {
        height: 85vh;
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    #life-image {
        width: 100%;
        height: 70%;
        transition: .3s;
        filter: brightness(.6);
    }

    .life-title {
        left: 50%;
        transition: .3s;
    }
}


/*LOGIN ALERT STYLING*/
.reset-title, .remove-title {
    font-size: 1.1rem;
    font-weight: lighter;
}

.reset-input {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: 'Raleway', 'Nirmala UI', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #000;
    max-width: 330px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.reset-container,
.remove-container {
    border-radius: 0px;
    background: #fff;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-container .reset-confirm,
.remove-container .remove-confirm{
    border-radius: 0px;
    background-color: #000;
    width: 90px;
    margin-top: 0;
    border: 1px solid white;
    padding: 0.5rem;
    transition: .3s;
    text-transform: uppercase;
}

.reset-container .reset-confirm:hover,
.remove-container .remove-confirm:hover {
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.reset-container .reset-cancel, .remove-container .remove-cancel{
    border-radius: 0px;
    background-color: #000;
    width: 90px;
    margin-top: 0;
    border: 1px solid white;
    padding: 0.5rem;
    transition: .3s;
    text-transform: uppercase;
}

.reset-container .reset-cancel:hover,
.remove-container .remove-cancel:hover {
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.reset-container-ok {
    background: #fff;
    border-radius: 0px;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-title-ok {
    font-size: 1.1rem;
    font-weight: lighter;
}

.reset-container-ok .reset-ok {
    border-radius: 0px;
    background-color: #000;
    width: 90px;
    border: 1px solid white;
    padding: 0.5rem;
    transition: .3s;
    text-transform: uppercase;
}

.reset-container-ok .reset-ok:hover {
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.reset-input {
    font-family: "Arial", sans-serif !important;
    margin-top: 1.5rem;
    border-radius: 0px;
    border: 1px solid black;
}

