@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
label {
    color: #000;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    margin: auto;
    width: 400px;
    height: 600px;
    background: rgba(0, 0, 0, .7);
    align-items: center;
    border-radius: 25px;
}

.login-form label {
    margin-bottom: .7rem;
    max-width: 600px;
    font-size: 1rem;
    color: white;
}

p {
    margin-top: .7rem;
    font-size: 0.9rem;
    color: white;
}

u {
    cursor: pointer;
}

.login-form input, textarea {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #000;
    min-width: 200px;
}

.login-logo {
    max-width: 100px;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 640px) {
    .login-form {

    }
}
