@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
label {
    color: #000;
}

.login-form {
    display: flex;
    /*flex-direction: column;*/
    padding: 2rem;
    margin: auto;
    width: 900px;
    height: 570px;
    align-items: center;
}

.left-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 570px;
    float: left;
    background: rgba(255, 255, 255, .2);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-log {
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    height: 570px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    color: white !important;
}

.login-form label {
    margin-bottom: .7rem;
    max-width: 600px;
    font-size: 1rem;
    color: white;
}

p {
    margin-top: .7rem;
    font-size: 0.9rem;
    color: white;
}

u {
    cursor: pointer;
}

.login-form input, textarea {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #000;
    width: 250px;
}

.btn {
    transition: .4s;
}
.btn:hover {
    transform: scale(1.1) !important;
}

.login-logo {
    width: 150px;
    margin-bottom: -2rem;
}

@media screen and (max-width: 640px) {
    .login-form {

    }
}
