@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

.out {
    /*background: rgba(255, 255, 255, .8);*/
    background: rgba(0, 0, 0, .7);
}

.tn-container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.note {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap; /*Keep spacing when a note is added*/
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
    background-color: rgba(255, 255, 255, .9) ;
}

.txt-area {
    width: 100%;
    border: none;
    resize: none;
    background-color: transparent ;
    /*font-family: 'Commissioner', serif !important;*/
    margin-bottom: 0.1rem;
    padding: 0.5rem 0.9rem;
    font-size: 1.1rem;
}

.saved-txt {
    /*font-family: 'Commissioner', serif !important;*/
    font-size: 1.1rem;
}

.font-commissioner {
    font-family: 'Commissioner', serif !important;
    font-size: 1.1rem;
}

.font-arial {
    font-family: Arial, serif !important;
    font-size: 1.1rem;
}

.settings-notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-bottom: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.settings-notes:hover {
    transition: .2s;
    border: 1px solid #fff;
}

.settings-notes p {
    font-size: 1.2rem;
    margin-top: 0 !important;
}


.txt-area:focus{
    outline: none;
}

.save {
    background-color: transparent;
    color: #000;
    font-size: 1.5rem;
    border: none;
    transition: .4s;
}

.save:hover {
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.2);
}

.delete-icon {
    transition: .4s;
}

.delete-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}