@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h4, p, a {
    color: #000;
}

body {
    margin: 0;
    font-family: 'Fjalla One', 'Arial',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lg {
    transform: scaleY(-1);
    width: 50px;
}
